MAIN=index.js
NAME=evolution_api
RAM=1024
AUTORESTART=true

# Precisamos do git (erro ENOENT), ffmpeg, e toolchain pra libs nativas (sharp)
APT=git, ffmpeg, python3, build-essential

# Desabilita 'prepare' do husky na instalação de produção
BUILD=HUSKY=0 npm ci --omit=dev && npm run db:generate && npm run db:deploy && npm run build

START=npm run start:prod
VLAN=false
